@use '../_sass/variable'as *;
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import '../font-icons/css/fontello.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  &.overflow{
    // overflow: hidden;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $Text_Color;
  font-size: 1.6rem;
  transition: .3s;
  &:hover{
    color: $Hover_links;
  }
}
h1,
h2,
h3 {
  font-size: 3.2rem;
  color: $Title_color;
  font-weight: 400;
}
h2,
h3 {
  font-size: 2.6rem;
}
p {
  color:$Text_Color;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.2rem;
  
}
.btn {
  text-align: right;
  a {
    display: inline-block;
    border-radius: 2.5rem;
    color: #fff;
    min-width: 140px;
    padding: 1rem 0;
    text-align: center;
    background: #00f260; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to left,
      #2cbac7,
      #00f260
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2cbac7, #00f260);
    transition: .3s;
    &:hover{
      opacity: .8;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

/* main nav */
.header {
  background-color: #fff;
  position: relative;
  z-index: 10;
  .header_content {
    .main_menu {
      display: grid;
      height: 6rem;
      grid-template-columns: 1fr 4fr 1fr;
      justify-content: center;
      align-items: center;
      .logo {
        img {
          max-width: 12rem;
        }
      }
      .list_items {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          margin: 0 2rem;
        }
      }
      .hamburger{
        display: none;
        i{
          font-size: 2.8rem;
        }
      }
     
    }
  }
}

/*showcase*/
.showcase {
  width: 100%;
  background-color: #fafafa;
  position: relative;
  overflow: hidden;
  .bg_intro {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
  }

  .showcase_content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text_content {
      width: 50%;

      h1 {
        margin-bottom: 1.7rem;
      }
      p {
        max-width: 35rem;
        margin-bottom: 2.5rem;
      }
    }
    .image {
      width: 50%;
      position: relative;
      top: -6.2rem;
      left: 16rem;
      img {
        width: 100%;
      }
    }
    .btn{
      text-align: left;
    }
  }
}

/*why Easybank*/
.why_easybank {
  background-color: #f4f5f7;
  padding: 5rem 0;
  .title {
    margin-bottom: 2rem;
    h2 {
      margin-bottom: 2rem;
    }
    p {
      max-width: 45rem;
    }
  }
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    justify-content: center;
    align-items: center;
    grid-gap: 2.5rem;
    .item {
      .item_image {
        margin-bottom: 2.5rem;
        img {
          max-width: 100%;
        }
      }
      h4 {
        font-size: 1.6rem;
        margin-bottom: 1.5rem;
        font-weight: 400;
      }
    }
  }
}

/* Latest Articles */
.latest_articles {
  padding: 8rem 0;
  background-color: #fafafa;
  .title {
    margin-bottom: 3.5rem;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    .card {
      background-color: #fff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      .card_thumbnai {
        img {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          width: 100%;
          min-height: 18.5rem;
          max-height: 18.5rem;
        }
      }
      .card_content {
        padding: 2.5rem;
        h4 {
          font-size: 1.2rem;
          color: $Text_Color;
          margin-bottom: 1.2rem;
        }
        h3 {
          font-size: 1.6rem;
          margin-bottom: 1rem;
        }
        p {
          font-size: 1.4rem;
          line-height: 2rem;
        }
      }
    }
  }
}


/* footer */ 
.footer{
  background-color:#2D314E;
  padding: 3rem 0;
  .footer_content{
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: center;
      justify-content: center;
      .logo_media{
         .logo_footer{
           margin-bottom: 3.2rem;
         }
         .media{
            a{
              margin: 0.4rem;
              img{
                transition: .3s;
              }
              &:hover{
                 img{
                   transform: translateY(-.5rem);
                 }
               }
            }
         }
      }
      .footer_links{
        display: flex;
        align-items: center;
        .list_items{
          margin: 0 4rem;
          li{
            line-height: 2.5rem;
          }
        }
      }
      .btn{
        .copyRight{
            margin-top: 2rem;
            color: #fff;
        }
      }
  }
}

/* responsive styles */
@media (max-width: 768px) {
  /* main nav */
.header {
  .header_content {
    .main_menu {
      padding: 2rem 0;
      height: auto;
      display: flex;
      flex-direction:column;
      .logo {
        align-self: start;
        img {
          max-width: 12rem;
        }
      }
      .list_items {
        width: 100%;
        flex-direction: column;
        padding: 2rem 0;
        position: absolute;
        background: #fff;
        top: 100%;
        transform: scale(1,0);
        transform-origin: top;
        transition: 200ms ease-in-out 200ms;
        li {
          margin: 1rem 0;
          a{
            opacity: 0;
            transition:100ms ease-in-out;
            &:hover{
              transition:.3s;
            }
          }
        }
        &.show{
          transform: scale(1,1);
          transition:200ms ease-in-out;
          a{
            opacity: 1;
            transition:200ms ease-in-out 200ms;
          }
        }
      }
      .btn{
       display: none;
      }
      .hamburger{
        display: block;
        position: absolute;
        top: 1.2rem;
        right: 3.5rem;
        cursor: pointer;
      }
    }
  }
}
  .showcase {
    padding: 4rem 0;
    .bg_intro {
      display: none;
    }

    .showcase_content {
      display: grid;
      grid-template-columns: 1fr;
      text-align: center;
      .text_content { 
        margin-top: 2rem;
        width: 100%;
        order: 1;
        h1 {
          font-size: 2.4rem;
        }
        p {
          max-width: 39rem;
          margin: 2.5rem auto;
        }
        .btn{
          text-align: center;
        }
      }
      .image {
        width: 50%;
        margin: auto;
        position: static;
      }
    }
  }

  /*why Easybank*/
  .why_easybank {
    .title {
      text-align: center;
      h2 {
        margin-bottom: 2rem;
        font-size: 2.4rem;
      }
      p {
        max-width: 45rem;
        margin: auto;
      }
    }
    .items {
      text-align: center;
      .item {
        h4 {
          font-size: 1.6rem;
        }
      }
    }
  }

  /* Latest Articles */
  .latest_articles {
    .title {
      text-align: center;
      margin-bottom: 3.5rem;
      h2 {
        font-size: 2.4rem;
      }
    }
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
   /*footer*/ 
  .footer{
    .footer_content{
        grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 576px){
   /* Latest Articles */
   .latest_articles {
    .cards {
      grid-template-columns: 1fr;
    }
  }
  /*footer*/ 
  .footer{
    .footer_content{
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        text-align: center;
        .logo_media{
          margin-bottom: 2rem;
          
        }
        .footer_links{
          flex-direction: column;
          margin-bottom: 2rem;
          .list_items{
            li{
              line-height: 3rem;
            }
          } 
        }
        .btn{
          text-align: center;
        }
    }
  }
}